name: Zama Video Auto

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install system tools
        run: |
          sudo apt-get update
          sudo apt-get install -y ffmpeg espeak-ng fonts-dejavu-core

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install Python packages
        run: |
          pip install -r requirements.txt

      - name: Generate Video
        run: |
          python zama_video.py

      - name: Upload final video
        uses: actions/upload-artifact@v4
        with:
          name: zama_video
          path: zama_final.mp4
